{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":621,"scrollleft":0,"selection":{"start":{"row":72,"column":4},"end":{"row":72,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":40,"state":"start","mode":"ace/mode/ini"}},"timestamp":1499797789825,"hash":"e194c32cd360c7ce72d93876c299c96ca027618b"}